/*=====================================
=            Footer styles            =
=====================================*/


.footer {
  background-color: $dark-grey;
  overflow: auto;
  padding-top: $general-margin;

  .location-wrapper {
    min-width: $container-width;
    margin: 0 auto;
    text-align: center;
    height: auto;
    padding-bottom: $general-margin;

    .location {
      width: 25%;
      display: inline-block;
      text-align: left;
      margin-right: $general-margin;
      vertical-align: top;

      &:last-of-type {
        margin-right: 0;
      }

      .address {
        font-family: "SourceSansPro-Light";
        color: #9B9B9B;
        font-size: 18px;
        line-height: 28px;
      }

      h3.city {
        color: white;
        font-family: "SourceSansPro-Regular";
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;

        &::before {
          content: "";
          background-image: url(../images/place-pin-ico.png);
          margin-right: 15px;
          height: 25px;
          width: 20px;
          -webkit-background-size: 20px 25px;
          background-size: 20px 25px;
          position: relative;
          top: 5px;
          display: inline-block;
        }
      }

    }

  }

  .copyright {
    display: block;
    background-color: #242424;
    color: #5B5B5B;
    font-size: 12px;
    font-family: "SourceSansPro-Light";
    letter-spacing: 2px;
    padding: $baseline 0;

    .copyright-container {
      width: $container-width;
      margin: 0 auto;

      .copyright-text {
        display: inline-block;
        text-transform: uppercase;
      }

      .links {
        display: inline-block;
        float: right;
        text-transform: uppercase;

        img {
          width: 25px;
          height: 25px;
          margin-right: 20px;
        }
      }
    }
  }

}
