/**
*--------------------------------------------------------------------------------------------------------
* Header settings
*--------------------------------------------------------------------------------------------------------
*/

header.main-header {
    width: $container-width;
    height: 60px;
    background-color: transparent;
    text-align: center;
    font-family: $font-1;
    position: absolute;
    margin: 0 10%;

    .logo {
        width: 100px;
        // height: 34px;
        display: inline-block;
        float: left;
        margin-top: $baseline;

        img {
            width: 100px;
            // height: 34px;
            height: auto;
        }
    }
}

/* reponsive meni */
.hamburger {
    color: $grey;
    text-decoration: none;
    display: none;
    float: right;
    padding-top: 1em;
    padding-right: $baseline;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
}

.main-nav {
    display: inline-block;
    height: 100%;
    overflow: visible;
    float: right;
    margin-top: $baseline;

    ul {
        padding-left: 0;
        list-style-type: none;
        margin: 0;

        li {
            display: inline-block;
            // height: 60px;
            padding: 0 30px;

            a {
                color: $dark-grey;
                font-family: "SourceSansPro-Regular";
                display: inline-block;
                // line-height: 60px;
                text-decoration: none;
                transition: color .25s ease-in-out;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 13px;
                letter-spacing: 4px;

                &:hover {
                    color: lighten($black, 50%);
                }
            }

        }
    }

}

@media screen and (max-width: 1040px) {
    .main-nav {
        display: none;
        position: relative;
        z-index: 9;

        ul {
            background-color: $black;
            position: relative;
            z-index: 11;

             li {
                display: block;
                width: 100%;
                padding: $baseline 0;
                background-color: $black;

                a {
                    width: 100%;
                     background-color: $black;
                     display: block;
                     font-size: 2em;
                }

                &::before {
                    display: none;
                    content: "";
                }
            }
        }
    }

    .hamburger {
        display: initial;

    }
}

.visible {
    display: initial;
}