/*=========================================
=            Responsive styles            =
=========================================*/


@media screen and (max-width: 320px) {

  .main-banner {
    height: 500px;

    h1 {
      font-size: 30px;
      top: 35%;

      &::after {
        margin: 6px 0;
        width: 30px;
        left: calc(50% - 15px);
        border-bottom: 2px solid $dark-red;
      }
    }

    .top-content {
      font-size: 18px;
      line-height: 22px;
      width: 90%;
      top: 40%;
      text-transform: uppercase;

    }
  }

  .processes {

    .process {
      width: 100%;

      h2 {
        font-size: 12px;
      }

      p {
        font-size: 9px;
      }
    }
  }

  .section-span {
    font-size: 12px;
  }

  .jobs {

    h1 {
      font-size: 20px;

      &::after {
        margin: 6px 0;
        width: 30px;
        left: calc(50% - 15px);
        border-bottom: 2px solid $dark-red;
      }
    }

    .positions-intro {
      font-size: 11px;
      line-height: 14px;
    }

    .jobs-wrapper {
      .position {
        padding: 10px 0;

        &:nth-of-type(odd) {
          background-color: #ededed;


          &:hover {
            background-color: #ededed;
          }
        }

        &:hover {
          background-color: white;

          h2, a.job-apply {
            color: black;
          }

          .tag {
            color: $dark-red;
          }
        }

        .position-content {
          width: 100%;
          padding: 15px;

          h2 {
            font-size: 8px;
          }

          p {
            font-size: 8px;
            line-height: 11px;
            margin-bottom: 10px;
          }

          a.job-apply {
            font-size: 8px;
            display: none;
          }

          .tag {
            font-size: 7px;
            border: 0;
            padding: 0;
          }

        }
      }
    }

    .load-more {
      font-size: 7px;
      width: 70%;
    }

  }

  .about {
    padding: $baseline 0;

    h1 {
      font-size: 20px;

      &::after {
        margin: 6px 0;
        width: 30px;
        left: calc(50% - 15px);
        border-bottom: 2px solid $dark-red;
      }
    }

    .about-text {
      font-size: 14px;
      width: 100%;
      padding: 15px;
      margin-top: $baseline;
    }
  }

  .footer {

    .location-wrapper {

      .location {
        width: 100%;
        text-align: center;
        margin-right: 0;

        h3.city {
          font-size: 9px;

          &::before {
            height: 15px;
            width: 15px;
            display: inline-block;
            background-size: 15px 15px;
            top: 2px;
            margin-right: 8px;
          }
        }

        .address {
          font-size: 9px;
          line-height: 15px;
        }
      }
    }

    .copyright {
      overflow: hidden;
      height: 100px;
      position: relative;
      width: 300px;

      .copyright-container {
        width: 100%;
        height: 100%;

        .links {
          height: 50px;
          display: block;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          padding: 10px;
          text-align: center;
          float: none;

          -webkit-box-ordinal-group: 2;
          -moz-box-ordinal-group: 2;
          box-ordinal-group: 2;
        }

        .copyright-text {
          height: 50px;
          display: block;
          width: 100%;
          position: absolute;
          top: 50px;
          left: 0;
          background-color: $dark-grey;
          padding: 10px;
          text-align: center;

        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        box-ordinal-group: 3;
        }

      }

    }
  }

  .mobile-hidden {
    display: none !important;
  }

  header.main-header {
    width: 100%;
    margin: 0;
    height: 30px;

    .logo {
      margin-top: 10px;
      margin-left: 10px;
    }
  }

  .hamburger {
      color: $grey;
      text-decoration: none;
      display: none;
      float: right;
      padding-top: 1em;
      padding-right: $baseline;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 20;
      height: 30px;
      width: 30px;
      background-image: url(../images/menu.png);
      -webkit-background-size: 30px 30px;
      background-size: 30px 30px;
      margin-top: 10px;
      margin-right: 10px;

      &.button-x {
        background-image: url(../images/x.png);
      }
  }


  .main-nav {
      display: none;
      position: absolute;
      top: 30px;
      left: 0;
      z-index: 9;
      width: 100%;

      ul {
          background-color: rgba(51, 51, 51, .98);
          position: relative;
          z-index: 11;
          padding-left: 0;
          width: 100%;

           li {
              display: block;
              width: 100%;
              // padding: $baseline 0;
              height: 70px;
              border-bottom: 1px solid #555;

              &.menu-social {
                display: block;

                span {
                  font-size: 13px;
                  color: $grey;
                  float: left;
                  line-height: 70px;
                }

                a {
                  display: inline-block;
                  width: 25px;
                  height: 25px;
                  float: right;
                  margin-right: 15px;

                  img {
                    width: 25px;
                    height: 25px;
                  }

                  &:hover {
                    opacity: .9;
                  }

                }
              }

              a {
                  width: 100%;
                  display: block;
                  font-size: 18px;
                  color: white;
                  line-height: 70px;
              }

              &::before {
                  display: none;
                  content: "";
              }
          }
      }
  }

  .hamburger {
      display: initial;

  }

  .visible {
      display: initial;
  }
}
