/**
*--------------------------------------------------------------------------------------------------------
* Settings
*--------------------------------------------------------------------------------------------------------
*/

/* Colors */
$black: #1e1e1e;
$lighter-black: #383839;
$dark-red: #C41230;
$red: #95111c;
$light-grey: #CCC;
$white: #f3f4f5;
$darker-white: #eff0f0;
$grey: #888;
$dark-grey: #333333;

/* Margins and fons */
$base-font-size: 16px;
$baseline: $base-font-size * 1.5;
$general-margin: $baseline * 3;
$big-margin: $general-margin * 2;

$container-width: 80%;
$small-container: 60%;

$font-1: "Alegreya sans SC", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-2: "Open sans", "Varela", Verdana, sans-serif;
$font-num: "Lekton", "Hind", "Montserrat", "Helvetica Neue", sans-serif;

